server:
  port: 54923
spring:
  application:
    name: libraryapi
  datasource:
    url: jdbc:postgresql://localhost:5482/library
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
     show-sql: true
     hibernate:
      ddl-auto: none
     properties:
       hibernate.format_sql: true
  security:
    user:
      name: admin
      password: admin123
      roles: USER
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
springdoc:
  override-with-generic-response: false
logging:
  file:
    name: app.log
  level:
    root: warn
    # trace
    # debug
    # info
    # warn
    # error
    io:
      github:
        kaiocandido: trace
    org:
      springframework:
        web: debug

# Criar banco automatico
#  jpa:
#    show-sql: true
#    hibernate:
#      ddl-auto: update, none, create-drop



